<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="author" content="Rafael Lima" />
    <meta name="copyright" content="BielSystems Consultoria e Tecnologia Ltda" />
    <meta name="keywords" content="novo, número, numero, cel, celular, telefone, tel, mudar, mudou, anatel" />
    <meta name="description" content="Vai mudar o número do celular ou quer saber o novo número de alguém, aqui é o lugar!" />
    <title>Novotel.com.br</title>
    <link rel="SHORTCUT ICON" href="/favicon.ico" />
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "style" %>
</head>
<body>
<div class="Container row">
  <div class="Header row">
    <h1><span>Novotel.com.br</span></h1>
  </div>
  <div class="Content row">
    <div class="row">
      <%= @content_for_layout %>
    </div>
  </div>
  <div class="Footer row">
    <p>Copyright©2008 BielSystems.</p>
  </div>
</div>
</body>
</html>
